<!DOCTYPE html>
<html lang="en">
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagerWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagerWeb.styles.css" asp-append-version="true" />
</head>
<body>
<div class="cursor-glow"></div>
    

    <div class="logo">
        TASKFLOW
    </div>

    <div class="nav-links">

        <a href="#">Dashboard</a>
        <a href="#">Focus</a>
        <a href="#">Progress</a>

    </div>

</nav>
    <div class="app-layout">

    <aside class="sidebar">

        <div class="sidebar-logo">
            TASKFLOW
        </div>

        <div class="sidebar-menu">

            <a href="#">
                 Dashboard
            </a>

            <a href="#">
                 Focus
            </a>

            <a href="#">
                 Momentum
            </a>

            <a href="#">
                 Goals
            </a>

        </div>

        <button id="themeToggle"
                class="theme-btn">

                Theme

        </button>

    </aside>

    <main class="content-area">

        @RenderBody()

    </main>

</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
